.photos_area{
	.single_photos{
		width: 16.66666666%;
		float: left;
		a{
			&, &:focus{
				outline: 0;
			}
		}
		img{
			width: 100%;
		}
		@media(max-width: 768px){
			&{
				width: 33.3333333%;
			}
		}
		@media(max-width: 450px){
			&{
				width: 50%;
			}
		}
	}
}