.vision{
	background-image: url(../images/vision_bg.jpg);
	background-size: cover;
	.vision_overlay{
		background-color: rgba(0,0,0,.5);
		padding:{
			top: 160px;
			bottom: 160px;
		}
		@media(max-width: 991px){
			&{
				padding:{
					top: 50px;
					bottom: 50px;
				}
			}
		}
	}
	.vision_info{
		background-color: $white_color;
		padding: 50px;
		h2{
			color: $section_title_heading;
			font-family: $roboto-font;
			margin:{
				top: 0px;
				bottom: 20px;
			}
		}
		p{
			color: $vision_text;
			font-family: $arial-font;
			margin: 0px;
			line-height: 26px;
		}
	}
}