/*FONT FAMILY*/
$roboto-condensed-font:'Roboto Condensed', sans-serif;
$roboto-font:'Roboto', sans-serif;
$arial-font: Arial, sans-serif;

/*COLOR*/
// GLOBAL
$white-color: #fff;
$blue-color: #00aeda;
$blue-color-hover: #009AC0;
$black-color: #262727;
$base-color: #999999;
//INFO BOX COLORS
$schedule_dots_color: #8d0e1d;
$schedule_border: #ec374b;
$meetings_dots_color: #0f854c;
$meetings_border: #17c068;
$twitter_feed_dots_color: #0f6577;
//SECTION TITLE COLORS
$section_title_heading: #1d1d1d;
$section_title_subheading: #9d9d9d;
$section_title_description: #9e9e9e;
//PROMOBOX
$promo_title: #545454;
//
$vision_text: #939393;
$fun_fact_bg: #202020;
$fun_facts_desc: #bbbbbb;
$schedule_sidebar_bg: #ebebeb;


$tab_menu_color: #ececec;
$tab_menu_link: #9f9f9f;
$tab_accordion_bar_color: #eeeeee;
$accordion_text_color: #222121;
$accordion_border_color: #bdbdbd;
$speaker_text: #262626;
$accordion_desc: #a3a3a3;
$accordion_border_second: #d9d9d9;
$sidebar_right_info_title: #232323;
$subscribe_heading_color: #aaaaaa;
$subscribe_input_bg: #1e1e1e;
$subscribe_input_placeholder: #616161;

$speaker_left_text: #7f7f7f;
$speaker_sub_heading: #185869;
$testimonial_subheading: #5a5a5a;
$quote_color: #2b2b2b;

$faq_title: #323232;
$faq_text: #868686;
$question_bg_color: #212121;

$white_section_title_sub_heading: #dbdbdb;
$white_section_title_text: #878787;

$package_heading: #2f2f2f;
$package_features: #929292;
$pricing_border: #c9c9c9;

$register_subtitle: #e0f9ff;
$register_input_bg: #1789a6;
$blog_pagination_text: #363636;

$map_text: #94e9ff;

//SOCIAL
$facebook_bg: #3b5998;
$twitter_bg: #00aced;
$g_plus_bg: #181818;
$youtube_bg: #fe3232;

//CONTACT
$contact_input_bg: #e6e6e6;
$contact_input_color: #313131;

//FOOTER
$footer_bg: #151515;
$footer_tp_copyright: #b5b5b5;
$footer_tp_link: #44c4ff;
$footer_subscribe_btn: #131313;
$footer_subscribe_placeholder: #c0c0c0;
$copyright_bottom: #7c7c7c;

$scroll_nav_color: #171717;

$blog_title_color: #4f4f4f;
$blog_text: #6b6a6a;
$search_box_border: #d1d1d1;
$search_icon: #444444;
$search_placeholder: #9c9c9c;
$widget_title_border: #e2e2e2;
$recent_post_date: #a7a7a7;
$tag_bg: #1f1f1f;
$twitter_title: #595959;
$twitter_icon: #5d5d5d;

$blockquote_color: #787878;


$comment_link: #3e3e3e;
$comment_text_color: #6d6d6d;
$comment_border: #d6d6d6;

$required_color: #ff2b2b;
$label_color: #383838;
$comment_form_title: #565656;

$comment_input_border: #bebebe;

$landing_captio_text: #a2a2a2;
$landing_btn_bg: #29d4ff;